<% for(let i=0; i < post.length; i++){%>
  <li id="<%= post[i].id%>" class="post">

    <div class="post_added">

      <img src="<%=post[i].user.avatar%>" height="20px" width="25px"><br>
      <small>
        <%= post[i].user.name %>
        <br>
      </small>
      <%if(post[i].images){%>

        <img src="<%=post[i].images%>" height="100%" width="100%">

        <%}%>


          <div>
            <%= post[i].content %>
              <br>
              <div id="like-delete" style="display: flex; justify-content: space-between;">
                <a href="/like/create/?id=<%=post[i].id%>&type=Post">Like- <%= post[i].likes.length %></a>
                <% if( local.user && local.user.id==post[i].user.id){%>
                  <small>
                    <a href="/post/destroy/<%= post[i].id%>" class="delete_post">delete</a>
                  </small>

                  <%}%>
              </div>


          </div>
    </div>




    <div class="post-comments" id="<%= post[i].id%>">

      <!-- form for adding commnent  -->
      <% if (local.user) {%>
        Add comment
        <form action="comments/create" method="post">
          <input type="text" name="content" placeholder="type here to add comment...."><br>
          <input type="hidden" name="post" value=<%=post[i].id %> >
          <input type="submit" value="Add comment">

        </form>
        <%}%>
          <!-- previous comments -->
          Comments
          <div>
            <% for(comment of post[i].comments){%>

              <p style="padding:10px;">
                <%= comment.content %>
              </p>
               
             
              <% if (local.user && local.user.id==comment.user.id){ %>
                <div style="display: flex; justify-content: space-between; padding: 5px;">
                  <small > <a href="/like/create/?id=<%=comment.id%>&type=Comment">Like-<%=comment.likes.length%></a></small>
                  <small>
                    <%= comment.user.name %>
                  </small>
                  <small>
                    <a href="/comments/destroy/<%= comment.id %>" id="<%= comment.id %>">X</a>
                  </small>
                  
                
                </div>
              
                <% }else {%>
                  <small>
                    <%= comment.user.name %>
                  </small>
                  <hr>
                  <%}%>
<hr>
                  
                  <br>
                  <%}%>


                    <%}%>
          </div>


  </li>