<% for(let i=0; i < post.length; i++){%>
    <li id="<%= post[i].id%>">


      <div>
        <%= post[i].content %>
          <br>
          <small>
            <%= post[i].user.name %>
          </small>
          <% if( local.user && local.user.id==post[i].user.id){%>
            <small>
              <a href="/post/destroy/<%= post[i].id%>" class="delete_post" >delete</a>
            </small>
            <%}%>

      </div>


    
        <div class="post-comments"  id="<%= post[i].id%>">
      Add comment
      <!-- form for adding commnent  -->
      <% if (local.user) {%>
        <form action="comments/create" method="post">
          <input type="text" name="content" placeholder="type here to add comment...."><br>
          <input type="hidden" name="post" value=<%=post[i].id %> >
          <input type="submit" value="Add comment">

        </form>
        <%}%>
<!-- previous comments -->
     
       <% for(comment of post[i].comments){%>
     
       <div><%= comment.content %></div>  
        <% if (local.user && local.user.id == comment.user.id){ %>
          <small>
              <a href="/comments/destroy/<%= comment.id %>">X</a>
          </small>
          <% } %>
          
        <small><%= comment.user.name %></small>   
           <br>
        <%}%>
     
    <%}%>
   
        </li>
        <br>