<link rel="stylesheet" href="css/home.ejs">
<h1>
  Codiel/ <%= title %>
</h1>
<div class="hero">
  <section id="Posts_comments_container" >
  
    <ul>
      <%- include('_post.ejs') %>
  </ul>
 
  </section>
  <section id="Users_container" >
    <h3>Users</h3>
    <%for(f of friends){%>
     
      
  <a href="//localhost:8000/user/profile/<%= f.id %>">   <button style="display: flex; ">
    <%if(f.avatar){%>
      <img src="<%= f.avatar %>" height="20px" width="25px">
      <%}%>
   
    
    <%= f.name %></button> </a>
      <br>
    <%}%>
  </section>

  
</div>

<script src="./js/home_posts.js"></script>