<link rel="stylesheet" href="css/home.css">
<h1>
  Codiel/ <%= title %>
</h1>
<div class="hero">
  <section id="Posts_comments_container" >
    <% if(local.user){%>
      <form action="/post/create" method="post" id="new-post-form" enctype="multipart/form-data">
        <textarea name="content" id="" cols="50" rows="3" placeholder="Type here ...." required></textarea><br>
        <input type="file" name="images" placeholder="put image">
        <button type="submit">Submit</button>
      </form>
    <%}%>
    <ul>
      <%- include('_post.ejs') %>
  </ul>
 
  </section>
  <section id="Users_container" >
    <h3>Users</h3>
    <%for(f of friends){%>
     
      
  <a href="//localhost:8000/user/profile/<%= f.id %>">   <button style="display: flex; justify-content: center;">
    <%if(f.avatar){%>
      <img src="<%= f.avatar %>" height="20px" width="25px">
      <%}%>
   
    
    <%= f.name %></button> </a>
      <br>
    <%}%>
  </section>

  
</div>

<script src="./js/home_posts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
<script src="./js/chat_engine.js"></script>
<%if(local.user){%>
  <script>
    // passing id of chatengine to user and user id
    
    new ChatEngine('user-chat-box', '<%=local.user.email%>');
  </script>
<%}%>
