
 <link rel="stylesheet" href="/css/user_profile.css">
  <div id = "profile_center">
    <h1>
       <%= title %>
    </h1>
 
    <h1>Name : <%= user.name %></h1>
    <h1>Email : <%= user.email%></h1>
    <h1>posts</h1>
    
  <ul>
    <% for(let i=0; i < post.length; i++){%>
      <li>
         <div><%= post[i].content %>
        <p>
          <%= post[i].user.name %>
        </p></div> 


          </li>
          
              <%}%>
  </ul>

    <a href="/"><button>New Post</button></a><br>

       <% if(user.id == local.user.id){%>
      <h1> Update Credentials</h1>
<!-- if user matches then show the form -->
      <form action="//localhost:8000/user/update/<%= user.id %>" method="post">
        <input type="text" name="name" placeholder="Your name" value="<%= user.name%>" required>

        <input type="email" name="email" placeholder="Your Email" value="<%= user.email%>" required>
        <input type="submit" value="update">
        <!--  value attribute means to put inside the box  -->
            </form>
       <%}%>
  </div>

  


 <!-- can't print data if written here doubt i have -->
 