
 <link rel="stylesheet" href="/css/user_profile.css">
  <div id = "profile_center">
     <img src="<%= user.avatar %>" alt="image" height="300px" width="300px" style = "border-radius: 50%;">
 
    <h1>Name : <%= user.name %></h1>
    <h1>Email : <%= user.email%></h1>
    <h1>posts</h1>
    


   
    <% if(local.user){%>
      <form action="/post/create" method="post" id="new-post-form" enctype="multipart/form-data">
        <textarea name="content" id="" cols="50" rows="3" placeholder="Type here ...." required></textarea><br>
        <input type="file" name="images" placeholder="put image">
        <button type="submit">Submit</button>
      </form>
    <%}%>
    
       <% if(user.id == local.user.id){%>
      <h1> Update Credentials</h1>
<!-- if user matches then show the form -->
      <form action="//localhost:8000/user/update/<%= user.id %>" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Your name" value="<%= user.name%>" required>

        <input type="email" name="email" placeholder="Your Email" value="<%= user.email%>" required>
        <input type="file"  name="avatar" placeholder="profile picture" id = "upload_file" onchange="getimagepreview(event)">
        <input type="submit" value="update">
        <!--  value attribute means to put inside the box  -->
            </form>
       <%}%>

      <div id="preview" style=" height: 100px;">

      </div>

       <ul>
        <% for(let i=0; i < post.length; i++){%>
          <li>
             <div><%= post[i].content %>
            <p>
              <%= post[i].user.name %>
            </p></div> 
    
    
              </li>
              
                  <%}%>
      </ul>
    
  </div>

 
<script>
   function getimagepreview(event){
        // this creates url from createObjectURL
        alert('running');
            var image = URL.createObjectURL(event.target.files[0]);
           var newimg = document.createElement('img');
            var preview = document.getElementById('preview');
            var temp = document.getElementsByClassName('new-img');
            if(temp.length != 0){
                console.log(temp);
                temp[0].remove();
            }
         
          
            newimg.style.width = '100px';
            newimg.style.height = '100px';
            newimg.classList.add('new-img');
            newimg.src = image;
            var caption = document.createElement('h4');
            caption.style.innerText = 'Preview image';
            preview.append(newimg);
            preview.append(caption);
            }
</script>
  

 <!-- can't print data if written here doubt i have -->
 